h2{
            color: rgb(16, 16, 179);
        }
        body{
            background-color: darkgrey;
        }
        span{
            color:rgb(250, 243, 243);
        }
        p{
            color: rgb(136, 33, 84);
        }
        h3{
            color: chocolate;
        }
        h4{
            color:rgb(248, 5, 5)
        }               (12.css)