h2{
            color: rgb(167, 14, 85);
        }
        h4{
           color: rgb(16, 18, 192);
        }
        b{
            color:rgb(75, 11, 134)
        }
        h3{
            color:rgb(28, 97, 97)
        }
        body{
            background-color:rgb(245, 183, 162)
        }                  