body{
            background-color: rgb(96, 96, 97);
        }
        h2{
            color:rgb(65, 160, 28);
        }
        span{
            color: rgb(57, 10, 100);
        }
        p{
            color:rgb(252, 245, 218);
        }
        h3{
            color: rgb(27, 214, 214);
        }
        h4{
            color: rgb(245, 62, 199);
        }                   