body{
            background-color: black;
        }
        span{
            color:rgb(206, 252, 164)
        }
        h2{
            color:rgb(86, 253, 253)
        }
        p{
            color:gold
        }
        h3{
            color:rgb(252, 154, 154)
        }
        h4{
            color:rgb(241, 146, 250)
        }         