body{
            background-color:rgb(177, 206, 245);
        }
        h2{
            color:rgb(126, 16, 126)
        }
        b{
            color: rgb(61, 60, 60);
        }
        h3{
            color: rgb(49, 39, 94);
        }
        h4{
            color: rgb(34, 161, 98);
        }              