body{
            background-color: rgb(24, 138, 190);
        }
        h2{
            color: rgb(102, 6, 6);
        }
        span{
            color:rgb(118, 253, 170)
        }
        p{
            color:rgb(241, 239, 73)
        }
        h3{
            color:rgb(228, 78, 158)
        }
        h4{
            color:rgb(22, 18, 18)
        }               