body{
            background-color: bisque;
        }
        span{
            color: rgb(7, 7, 143);
        }
        p{
            color: rgb(13, 105, 25);
        }
        h2{
            color: rgb(110, 12, 12);
        }
        h3{
            color: rgb(102, 12, 87);
        }
        h4{
            color:rgb(17, 80, 85)
        }             